@using Microsoft.AspNet.Identity;
@model IEnumerable<AccountantNew.Web.Models.NewCategoryViewModel>

@{
    var lstNew = (IEnumerable<AccountantNew.Web.Models.NewViewModel>)ViewBag.LstNew;
    var newModel = lstNew.Where(x => x.NewCategory.Name.Contains("Tin mới"));

    var notificationModel = (IEnumerable<AccountantNew.Web.Models.NewViewModel>)ViewBag.LstNotifi;

}

<script>
    function gotoNews() {
        window.location.href = "/tin-moi.html";
    }
    function gotoNotifi() {
        window.location.href = "/thong-bao.html";
    }

    (function ($) {
        $(function () { //on DOM ready 
            $("#scroller").simplyScroll();
        });
    })(jQuery);
  
</script>
   
<div id="newedge-top-bar">
    <div class="container">
        <div class="row">
            <div id="logo" class="col-xs-4 col-sm-3 col-md-3 hidden-sm hidden-xs col-header-3">
                <a href="#"><img class="thumb-logo-header" src="~/Assets/client/img/presets/preset1/logo.png" alt="logo"></a>
            </div> <!-- //logo -->
            <div class="trending">
                <div class="col-sm-3 col-md-2 col-header-2">
                    <h3 class="heading">Tiêu điểm:</h3>
                </div>
                <div class="col-sm-9 col-md-3 col-header-4-5">
                    <ul id="scroller" class="simply-scroll-list" style="padding-top:23px">
                        <li>
                            <p>
                                <a href="#" title="Chúc mừng sinh nhật" rel="bookmark">
                                    <span class="title">Chúc mừng sinh nhật</span>
                                </a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#" title="Chia buồn cùng gia đình" rel="bookmark">
                                    <span class="title">Chia buồn cùng gia đình</span>
                                </a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#" title="Chúc mừng sinh nhật" rel="bookmark">
                                    <span class="title">Chúc mừng sinh nhật</span>
                                </a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#" title="Chia buồn cùng gia đình" rel="bookmark">
                                    <span class="title">Chia buồn cùng gia đình</span>
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-header-3-5">
                <div class="top-right">
                    <div class="newedge-date">
                        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                        {
                            if (Request.IsAuthenticated)
                            {
                                @Html.AntiForgeryToken()
                                <span>Xin chào: @User.Identity.GetUserName() |<a href="javascript:document.getElementById('frmLogout').submit()" id="btnLogout" style="color:#b9b9b9;"> Thoát</a></span>
                            }
                            else
                            {
                                <span id="time">	 </span>
                            }
                        }
                    </div>
                    @if (!Request.IsAuthenticated)
                    {
                        <div class="newedge-login">
                            <a href="#" role="button" data-toggle="modal" data-target="#login">
                                <i class="fa fa-user"></i>
                            </a>
                            <!-- Login modal -->
                            <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                                            <h1 class="text-left">Đăng nhập</h1>
                                        </div>
                                        <div class="modal-body">
                                            @*@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @enctype = "multipart/form-data", id = "login-form" }))*@
                                            @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "status", InsertionMode = InsertionMode.Replace }))
                                            {
                                                <fieldset class="userdata">
                                                    <input id="username" placeholder="User Domain" type="text" name="UserName" class="form-control">
                                                    <input id="password" type="password" placeholder="Mật khẩu" name="Password" class="form-control">
                                                    <div class="remember-wrap">
                                                        <input type="checkbox" name="RememberMe" class="inputbox" value="true" />
                                                        <input name="RememberMe" type="hidden" value="false">
                                                        <label for="remember">Nhớ tôi</label>
                                                    </div>
                                                    <div class="button-wrap pull-left">
                                                        <input type="submit" name="Submit" class="btn btn-block btn-success" value="Đăng nhập">
                                                    </div>
                                                </fieldset>
                                                <br />
                                                <div id="status" class="pull-left" style="color:red"></div>
                                            }
                                        </div>
                                        @*<div class="modal-footer">
                                            <a href="#" role="button" data-dismiss="modal" data-toggle="modal" data-target="#register">
                                                Xác nhận tài khoản
                                            </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="newedge-search">
                        <div class="search-icon-wrapper">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="search-wrapper">
                            <form action="#" method="post">
                                <input name="searchword" maxlength="200" class="inputboxnewedge-top-search" type="text" size="20" placeholder="Search ...">
                                <i id="search-close" class="fa fa-close"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">Xác nhận tài khoản</h3>
                            <p style="color:red">Vui lòng cung cấp thông tin chính xác.</p>
                        </div>
                        <div class="modal-body">
                             content goes here 
                            @using (Ajax.BeginForm("Register", "Account",null ,new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "notify", InsertionMode = InsertionMode.Replace },new {id= "frmRegister", enctype = "multipart/form-data"}))
                            {
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="exampleInputEmail1">User Domain</label>
                                            <input type="text" class="form-control" id="userDomain" name="UserName" placeholder="User Domain">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputEmail1">Họ tên</label>
                                            <input type="text" class="form-control" id="name" name="FullName" placeholder="Họ tên">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" class="form-control" id="email" name="Email" placeholder="Email">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputPassword1">Số điện thoại</label>
                                            <input type="tel" class="form-control" id="exampleInputPassword1" name="PhoneNumber" placeholder="Số điện thoại">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Ảnh đại diện</label>
                                    <img id="upFile" name="Image" src="" style="width:89px;height:127px; cursor:pointer" />
                                    <input type="file" id="openImage" name="Image" style="display: none" accept=".jpg,.png" />
                                    <div id="notify" style="color:red"></div>
                                </div>
                                <button type="submit" id="btnXacNhan" disabled class="btn btn-success">Xác nhận</button>
                            }
                        </div>
                    </div>
                </div>
            </div>*@

        </div>
    </div> <!-- //container -->
</div>

<div id="mobile-nav-bar" class="mobile-nav-bar">
    <div class="container">
        <div class="row">
            <div class="visible-sm visible-xs col-sm-12">
                <div id="logo" class="mobile-logo pull-left">
                    <a href="index.html"><img src="~/Assets/client/img/presets/preset1/logo.png" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav id="navigation-bar" class="navigation hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline megamenu-parent">
                    <li style="background:url(/Assets/client/img/menu_bg.jpg) repeat-x left top">
                        <a href="/">Trang chủ</a>
                    </li>
                    <li class="has-child menu-justify" style="background:url(/Assets/client/img/menu_bg.jpg) repeat-x left top">
                        @{
                            var modelTinTuc = Model.SingleOrDefault(x => x.Name == "Tin tức");
                            var childTinTucs = Model.Where(x => x.ParentID == modelTinTuc.ID);
                            var urlTinTuc = "/" + modelTinTuc.Alias + ".html";
                        }
                        <a href="@urlTinTuc">@modelTinTuc.Name</a>
                        <div class="dropdown-inner container dropdown-menu-full-wrapper">
                            <div class="dropdown-menu-full vertical-tabs">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <ul class="tab-btns" role="tablist">
                                                    <li class="active"><a id="news" onclick="gotoNews()" href="#tinmoi" data-toggle="tab">@childTinTucs.First().Name</a></li>
                                                    @foreach (var childTinTuc in childTinTucs.Skip(1))
                                                    {
                                                        <li>
                                                            <a id="notification" onclick="gotoNotifi()" href="#thongbao" data-toggle="tab">@childTinTuc.Name</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div> <!-- //col-sm-3 -->

                                            <div class="col-sm-9">
                                                <div class="tab-content simple-article-overlay">
                                                    <div role="tabpanel" class="tab-pane active" id="tinmoi">
                                                        <div class="row">
                                                            @foreach (var item in lstNew)
                                                            {
                                                                var urlItem = "/" + item.NewCategory.Alias + "/" + item.Alias + "-" + item.ID + ".html";
                                                                <div class="col-sm-4">
                                                                    <article>
                                                                        <div class="article-inner">
                                                                            <div class="overlay"></div>
                                                                            <div class="img-wrapper"><img class="img-100p latest-post-image thumb-header" src="@item.Image" alt="img"></div>
                                                                            <div class="article-info">
                                                                                <h4 class="entry-title">
                                                                                    <a href="@urlItem">@item.Name</a>
                                                                                </h4>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane active" id="thongbao">
                                                        <div class="row">
                                                            @foreach (var item in notificationModel)
                                                            {
                                                                var urlItem = "/" + item.NewCategory.Alias + "/" + item.Alias + "-" + item.ID + ".html";
                                                                <div class="col-sm-4">
                                                                    <article>
                                                                        <div class="article-inner">
                                                                            <div class="overlay"></div>
                                                                            <div class="img-wrapper"><img class="img-100p latest-post-image thumb-header" src="@item.Image" alt="img"></div>
                                                                            <div class="article-info">
                                                                                <h4 class="entry-title">
                                                                                    <a href="@urlItem">@item.Name</a>
                                                                                </h4>
                                                                            </div>
                                                                        </div>
                                                                    </article>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- //tab-content -->
                                        </div> <!-- //col-sm-9 -->
                                    </div>
                                </div> <!-- //row -->
                            </div>
                        </div>
                     </li>
                    @foreach (var category in Model.Where(x => x.ParentID == null && x.Name != "Tin tức" && x.Name !="Hỗ trợ" && x.Name!="Comment" && x.Name!="Sơ đồ tổ chức" && x.Name != "Thống kê"))
                    {
                        var url = "/" + category.Alias + "-" + category.ID + "-file.html";
                        <li style="background:url(/Assets/client/img/menu_bg.jpg) repeat-x left top">
                            <a href="@url">@category.Name</a>
                        </li>
                    }
                    @foreach (var categoryLast in Model.Where(x => x.ParentID == null && x.Name == "Hỗ trợ" || x.Name == "Comment"))
                    {
                        var url = "/" + categoryLast.Alias + "-" + categoryLast.ID + "-forum.html";
                        <li class="has-child" style="background:url(/Assets/client/img/menu_bg.jpg) repeat-x left top">
                            <a href="@url">@categoryLast.Name</a>
                            <div class="dropdown-inner">
                                @{
                                    var lv1Categories = Model.Where(x => x.ParentID == categoryLast.ID);
                                }
                                <ul class="dropdown-items">
                                    @foreach (var lv1Category in lv1Categories)
                                    {
                                        var urlLvL1 = "/" + lv1Category.Alias + "-" + lv1Category.ID + "-forum.html";
                                        var lv2Categories = Model.Where(x => x.ParentID == lv1Category.ID);
                                        if (lv2Categories.Count() == 0)
                                        {
                                            <li>
                                                <a href="@urlLvL1">@lv1Category.Name</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="has-child">
                                                <a href="@urlLvL1">@lv1Category.Name</a>
                                                <div class="dropdown-inner sub-dropdown-inner">
                                                    <ul class="dropdown-items">
                                                        @foreach (var lv2Category in lv2Categories)
                                                        {
                                                            var urlLvL2 = "/" + lv2Category.Alias + "-" + lv2Category.ID + "-forum.html";
                                                            var lv3Categories = Model.Where(x => x.ParentID == lv2Category.ID);
                                                            if (lv3Categories.Count() == 0)
                                                            {
                                                                <li><a href="@urlLvL2">@lv2Category.Name</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="has-child">
                                                                    <a href="@urlLvL2">@lv2Category.Name</a>
                                                                    <div class="dropdown-inner sub-dropdown-inner">
                                                                        <ul class="dropdown-items">
                                                                            @foreach (var lv3Category in lv3Categories)
                                                                            {
                                                                                var urlLvL3 = "/" + lv3Category.Alias + "-" + lv3Category.ID + "-forum.html";
                                                                                <li><a href="@urlLvL3">@lv3Category.Name</a></li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                    @foreach (var categoryLast2 in Model.Where(x => x.ParentID == null &&  x.Name == "Sơ đồ tổ chức" || x.Name == "Thống kê"))
                    {
                        var url = "/page-" + categoryLast2.Alias + ".html";
                        <li style="background:url(/Assets/client/img/menu_bg.jpg) repeat-x left top">
                            <a href="@url">@categoryLast2.Name</a>
                        </li>
                    }
                 </ul>
            </div>
           </div>
        </div>
    </nav>
   
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('time').innerHTML = today.toDateString() + ' ' +
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }

    $("#upFile").click(function () {
        $("#openImage").trigger('click');
    });

    $('input[type=file]').change(function (event) {
        var tmppath = URL.createObjectURL(event.target.files[0]);
        $('#upFile').prop({ src: tmppath });
        $('#btnXacNhan').removeAttr("disabled");
    });
    
    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xhr.responseText;
                            }
                        }
                    }
                };
                xhr.send(new FormData(form));
            }
        }
    }, true);

    $('#register').on('hidden.bs.modal', function (e) {
        window.location.reload();
    })
</script>
<script src="~/Assets/client/js/controllers/register.js"></script>