<!DOCTYPE html>
<html lang="en">

<!--by Gala -->
<head>
    <meta charset="utf-8">
    <title>Tin tức kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/Assets/client/img/favicon.png">

    <!-- CSS -->
        @*<link rel="stylesheet" href="~/Assets/client/css/bootstrap.min.css">

        <link rel="stylesheet" href="~/Assets/client/css/font-awesome.min.css">

        <link rel="stylesheet" href="~/Assets/client/css/cs-select.css">

        <link rel="stylesheet" href="~/Assets/client/css/animate.css">

        <link rel="stylesheet" href="~/Assets/client/css/nanoscroller.css">

        <link rel="stylesheet" href="~/Assets/client/css/owl.carousel.css">

        <link rel="stylesheet" href="~/Assets/client/css/flexslider.css">

        <link rel="stylesheet" href="~/Assets/client/css/style.css">

        <link rel="stylesheet" href="~/Assets/client/css/presets/preset1.css">

        <link rel="stylesheet" href="~/Assets/client/css/responsive.css">

        <link id="preset" rel="stylesheet" type="text/css" href="~/Assets/client/css/presets/preset1.css">

        <link href="~/Assets/client/css/articleImg.css" rel="stylesheet" />*@

        @*<link href="~/Assets/client/css/weather.css" rel="stylesheet" />*@

    @*<link href="~/Assets/client/css/jquery-ui.css" rel="stylesheet" />*@

    @Styles.Render("~/bundle/css")

    @Scripts.Render("~/bundle/jsMVC")
    
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 3000,
                "extendedTimeOut": 1000
            };
            @if (TempData["AlertMessage"] != null)
            {
                if((string)TempData["AlertType"] == "success")
                {
                    @:toastr.success("@TempData["AlertMessage"]");
                }
                if((string)TempData["AlertType"] == "warning")
                {
                    @:toastr.warning("@TempData["AlertMessage"]");
                }
                if((string)TempData["AlertType"] == "error")
                {
                    @:toastr.error("@TempData["AlertMessage"]");
                }
            }
        });
    </script>

    <script src="~/Assets/client/js/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body class="sticky-header" onload="startTime()">
    <div class="body-innerwrapper">

        <!--==================================
        =            START Header            =
        ===================================-->
        <header>
            @{Html.RenderAction("Header", "Home");}
        </header>
        <!--====  End of Header  ====-->
        <!--==================================
        =            START BODY            =
        ===================================-->
        @RenderSection("pageTitle", required: false)
        
        @RenderBody()
        <!--====  End of BODY  ====-->
        <!--==================================
        =            START FOOTER            =
        ===================================-->
        <footer>
            @{Html.RenderAction("Footer", "Home");}
        </footer>
        <!--====  End of FOOTER  ====-->
        <!-- Offcanvas Start-->
        <div class="offcanvas-overlay"></div>
        @*<div class="offcanvas-menu visible-sm visible-xs">
            <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
            <div class="offcanvas-inner">
                <h3 class="title">Search</h3>
                <div class="search">
                    <form action="#" method="post">
                        <input name="searchword" maxlength="200" class="inputbox search-query" type="text" placeholder="Search ...">
                    </form>
                </div>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                        <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse" data-target="#collapse-menu-01" aria-expanded="false" aria-controls="collapse-menu-01"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                        <ul class="collapse" id="collapse-menu-01" aria-expanded="false">
                            <li><a href="index2.html">Home 2</a></li>
                        </ul>
                    </li>
                    <li><a href="article-categories.html">Social Media</a></li>
                    <li><a href="article-categories.html">Tech</a></li>
                    <li>
                        <a href="article-categories.html">Pages</a>
                        <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse" data-target="#collapse-menu-02" aria-expanded="false" aria-controls="collapse-menu-02"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                        <ul class="collapse" id="collapse-menu-02" aria-expanded="false">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="advertisement.html">Advertisement</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="comingsoon.html">Coming Soon</a></li>
                            <li><a href="404.html">404 Page</a></li>
                            <li>
                                <a href="javascript:void(0)">Parent</a>
                                <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse" data-target="#collapse-menu-03" aria-expanded="false" aria-controls="collapse-menu-03"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                                <ul class="collapse" id="collapse-menu-03" aria-expanded="false">
                                    <li><a href="javascript:void(0)">Sub Child 01</a></li>
                                    <li><a href="javascript:void(0)">Sub Child 02</a></li>
                                    <li><a href="javascript:void(0)">Sub Child 03</a></li>
                                    <li>
                                        <a href="javascript:void(0)">Parent</a>
                                        <span role="button" class="offcanvas-menu-toggler collapsed" data-toggle="collapse" data-target="#collapse-menu-04" aria-expanded="false" aria-controls="collapse-menu-04"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                                        <ul class="collapse" id="collapse-menu-04" aria-expanded="false">
                                            <li><a href="javascript:void(0)">Sub Child 01</a></li>
                                            <li><a href="javascript:void(0)">Sub Child 02</a></li>
                                            <li><a href="javascript:void(0)">Sub Child 03</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="article-categories.html">Business</a></li>
                    <li><a href="article-categories.html">Fashion</a></li>
                    <li><a href="article-categories.html">Video</a></li>
                    <li><a href="article-categories.html">Leadership</a></li>
                    <li><a href="article-categories.html">Explore</a></li>
                </ul>
            </div>
        </div>*@
        <!-- end Offcanvas -->

    </div> <!-- //body-innerwrapper -->

    @*<script src="~/Assets/client/js/jquery.min.js"></script>
    <script src="~/Assets/client/js/bootstrap.min.js"></script>
    <script src="~/Assets/client/js/smoothscroll.js"></script>

    <script src="~/Assets/client/js/classie.js"></script>
    <script src="~/Assets/client/js/selectFx.js"></script>

    <script src="~/Assets/client/js/jquery.nanoscroller.js"></script>
    <script src="~/Assets/client/js/owl.carousel.min.js"></script>
    <script src="~/Assets/client/js/jquery.flexslider-min.js"></script>

    <script src="~/Assets/client/js/jquery.sticky.js"></script>

    <script src="~/Assets/client/js/main.js"></script>
    <script src="~/Assets/client/js/switcher.js"></script>*@
</body>
@RenderSection("footerJS", required: false)
<!--by Gala -->
</html>