<!DOCTYPE html>
<html lang="en">

<!--by Gala -->
<head>
    <meta charset="utf-8">
    <title>Tin tức kế toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/Assets/client/img/favicon.png">

    <!-- CSS -->
        @*<link rel="stylesheet" href="~/Assets/client/css/bootstrap.min.css">

        <link rel="stylesheet" href="~/Assets/client/css/font-awesome.min.css">

        <link rel="stylesheet" href="~/Assets/client/css/cs-select.css">

        <link rel="stylesheet" href="~/Assets/client/css/animate.css">

        <link rel="stylesheet" href="~/Assets/client/css/nanoscroller.css">

        <link rel="stylesheet" href="~/Assets/client/css/owl.carousel.css">

        <link rel="stylesheet" href="~/Assets/client/css/flexslider.css">

        <link rel="stylesheet" href="~/Assets/client/css/style.css">

        <link rel="stylesheet" href="~/Assets/client/css/presets/preset1.css">

        <link rel="stylesheet" href="~/Assets/client/css/responsive.css">

        <link id="preset" rel="stylesheet" type="text/css" href="~/Assets/client/css/presets/preset1.css">

        <link href="~/Assets/client/css/articleImg.css" rel="stylesheet" />*@

        @*<link href="~/Assets/client/css/weather.css" rel="stylesheet" />*@

    @*<link href="~/Assets/client/css/jquery-ui.css" rel="stylesheet" />*@

    @Styles.Render("~/bundle/css")

    @Scripts.Render("~/bundle/jsMVC")
    
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 3000,
                "extendedTimeOut": 1000
            };
            @if (TempData["AlertMessage"] != null)
            {
                if((string)TempData["AlertType"] == "success")
                {
                    @:toastr.success("@TempData["AlertMessage"]");
                }
                if((string)TempData["AlertType"] == "warning")
                {
                    @:toastr.warning("@TempData["AlertMessage"]");
                }
                if((string)TempData["AlertType"] == "error")
                {
                    @:toastr.error("@TempData["AlertMessage"]");
                }
            }
        });
    </script>

    <script src="~/Assets/client/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Assets/admin/libs/jquery-validation/dist/jquery.validate.js"></script>
    @*<script src="~/Assets/admin/libs/jquery-validation/dist/additional-methods.js"></script>*@

</head>
<body class="sticky-header" onload="startTime()">
    <div class="body-innerwrapper">

        <!--==================================
        =            START Header            =
        ===================================-->
        <header>
            @{Html.RenderAction("Header", "Home");}
        </header>
        <!--====  End of Header  ====-->
        <!--==================================
        =            START BODY            =
        ===================================-->
        @RenderSection("pageTitle", required: false)
        
        @RenderBody()
        <!--====  End of BODY  ====-->
        <!--==================================
        =            START FOOTER            =
        ===================================-->
        <footer>
            @{Html.RenderAction("Footer", "Home");}
        </footer>
        <!--====  End of FOOTER  ====-->
        <!-- Offcanvas Start-->
        <div class="offcanvas-overlay"></div>
    </div>
    @RenderSection("footerJS", required: false)
</body>
<!--by Gala -->
</html>