@model AccountantNew.Web.Infastructure.Core.PaginationSet<AccountantNew.Web.Models.PostViewModel>
    @{
        ViewBag.Title = "ForumPost";
        Layout = "~/Views/Shared/Layouts.cshtml";
        var cate = ViewBag.CategoryModel as AccountantNew.Web.Models.NewCategoryViewModel;
        var ChildCategoryPost = ViewBag.ChildCategoryPost as IEnumerable<AccountantNew.Web.Models.NewCategoryViewModel>;
    }

    @section footerJS{
        <script>
            function gotoAsk() {
                window.location.href = '@Url.Action("Ask","Forum",new {@id =  cate.ParentID})';
            }
        </script>
    }

    @section pageTitle{
        <section id="page-title">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-wrapper" style="background-image:url(Assets/client/img/sub-header/subHeader.jpg)">
                        <div class="container">
                            <h2 class="pull-left title"> <span class="cat-icon">@cate.Name.Substring(0, 1) </span> @cate.Name</h2>
                            <ol class="breadcrumb pull-right">
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="#">Danh mục</a></li>
                                <li class="active">@cate.Name</li>
                            </ol>
                        </div> <!-- //container -->
                    </div> <!-- //page-title-wrapper -->
                </div>
            </div> <!-- //row -->
        </section>
    }

    <section class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row pull-right">
                        @if (Model.TotalPages > 1)
                        {
                            // Create numeric links
                            var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                            var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                            <nav>
                                <ul class="pagination pagination-sm pull-right" style="margin-top:0px;">
                                    @if (Model.Page > 1)
                                    {
                                        <li>
                                            <a href="?page=1" aria-label="First">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="?page=@(Model.Page-1)" aria-label="Previous">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                    }

                                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (Model.Page == i)
                                        {
                                            <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="?page=@i" title="Trang @i">@i</a></li>
                                        }
                                    }
                                    @if (Model.Page < Model.TotalPages)
                                    {
                                        <li>
                                            <a href="?page=@(Model.Page+1)" aria-label="Next">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="?page=@Model.TotalPages" aria-label="Last">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tabs-warp question-tab">
                                <div class="tab-inner-warp">
                                    <div class="tab-inner">
                                        @foreach (var item in Model.Items)
                                        {
                                            var url = "/" + cate.Alias + "-" + cate.ID + "-forum/" + item.Alias + "-" + item.ID + ".html";
                                            <article class="question question-type-normal">
                                                <h2>
                                                    <a href="@url">@item.Name</a>
                                                </h2>

                                                <div class="question-author">
                                                    <a href="@url" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="@item.ApplicationUser.Avartar"></a>
                                                </div>
                                                <div class="question-inner" style="margin-bottom:15px;">
                                                    <div class="clearfix"></div>
                                                    <span class="question-category"><a href="@url"><i class="fa fa-folder"></i>@cate.Name</a></span>
                                                    <span class="question-date"><i class="fa fa-clock-o"></i>@item.CreatedDate</span>
                                                    <span class="question-comment"><a href="@url"><i class="fa fa-comment"></i>@item.Comments.Count() Answer</a></span>
                                                    <span class="question-view"><i class="fa fa-user"></i>@item.ViewCount views</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="comment-author">
                                                    <a>@item.ApplicationUser.FullName - @item.ApplicationUser.Department - @item.ApplicationUser.NamePCA</a>
                                                </div>
                                            </article>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    @Html.Partial("AddPostPartial", ChildCategoryPost)
                </div>
            </div>
        </div>
    </section>
